{% extends "base.html" %} 
{% load static %}
{% block content %}

<div class="container content" style="text-align: center;">
    <div style="display: inline-block; width: 400px;">
        <h2>Edit profile</h2>
        <form method="post" class="bootstrap-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Save">
        </form>
    </div>
</div>
<div style="display: inline-block; width: 400px;">
    <h2>Set Avatar</h2>
    {% for image in images %}
        <div class="card">
            <div class="card-body">
                {% if image.image.name %}
                <a href="/images/{{image.image_hash}}">
                    <img src="{{ image.image.url }}" alt="connect" style="max-height:300px"><br>
                </a>
                {% endif %}
                {{ image.text }}
                {% include "set_avatar.html" %}
            </div>
        </div>
        
    {% endfor %}
</div>


{% endblock content %}