{% extends "base.html" %} 

{% block content %}

{% if images.user_images %}
    <h1> Your Images: </h1>
    {% for image in images.user_images %}
    <div class="card col-md-4">
        <a href="/images/{{image.image_hash}}">
            <img class="card-img-top" src="{{image.image.url}}" alt="connect" >
        </a>
        <div class="card-body">
            <h3> Description: {{image.text}} </h3>
        </div>
        {% include "likes.html" %}
    </div>
    {% endfor %}
{% endif %}

<h1> Popular Images: </h1>
{% for image in images.popular_images %}
<div class="card col-md-4">
    <a href="/images/{{image.image_hash}}">
        <img class="card-img-top" src="{{image.image.url}}" alt="connect" >
    </a>
    <div class="card-body">
        <h3> Description: {{image.text}} </h3>
    </div>
    {% include "likes.html" %}
</div>
{% endfor %}

<h1> All images: </h1>
{% for image in images.public_images %}
<div class="card col-md-4">
    <a href="/images/{{image.image_hash}}">
        <img class="card-img-top" src="{{image.image.url}}" alt="connect" >
    </a>
    <div class="card-body">
        <h3> Description: {{image.text}} </h3>
    </div>
    {% include "likes.html" %}
</div>
{% endfor %}

{% endblock content %}