{% extends "accounts/layout/base.html" %} 

{% block content %}

{% if image %}
  <img src="{{image.image.url}}" alt="connect" style="max-height:300px">
  <h3> Description: {{image.text}} </h3>
  <h3> Current owner: {{image.owner}} </h3>
  <h3> Uploaded: {{image.upload_datetime}} </h3>
  <h3> Visible: {{image.visibility}} </h3>

  {% include "likes.html" %}
  <h3> Liked: {% for user in image.likes.all %} {{user}}; {% endfor %} </h3>
  <div class="history">
    <h3> History of ownership: </h3>
    {% for record in history %}
        <div class="card">
            <div class="card-body">
                {% if record %}
                    Owner: {{record.referred_owner}}; Since: {{record.datetime}}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<div class="comments">
    {% load comment_filter %}
    {% for comment in comments %}
    <div class="comment">
        {{comment.user.username}}
        <img src="{{comment.user.profile.avatar.image.url}}" alt="connect" style="max-height:20px"> : 
        {{ comment.content|safe_comment }}
    </div>
    {% endfor %}
    <div class="new-comment">
        {% include "comment.html" %}
    </div>
</div>
{% endif %}

{% endblock content %}