{% extends "base.html" %} 

{% block content %}

<div class="col-6 content">
  {% if request.user.profile.banned %}
  <h3>You are banned!</h3>
  {% else %}
  <div class="card">
    <div class="card-body">
      <form method="post" name="new-post-form" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Upload</button>
      </form>
    </div>
  </div>
  <br />
  {% if form_obj %} {% if is_unique %}
  <h3>Succesfully uploaded! Token: {{form_obj.image_hash}}</h3>
  <h3>Secret to restore image(save it): {{form_obj.secret}}</h3>
  {% else %}
  <h3>Image is not unique</h3>
  {% endif %} {% endif %}
  <br />
  {% endif %}
  <div class="timeline">
    {% for image in images %}
    <div class="card">
      <div class="card-body">
        {% if image.image.name %}
        <a href="/images/{{image.image_hash}}">
          <img
            src="{{ image.image.url }}"
            alt="connect"
            style="max-height: 300px"
          /><br />
        </a>
        {% endif %} {{ image.text }} {% include "likes.html" %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
