{% extends "accounts/layout/base.html" %} 

{% block content %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <!-- <p>
    <label for="id_recipient">Give to:</label>
    <select name="recipient" required id="id_recipient">
      {% for id, username in form.fields.recipient.choices %}
        <option value="{{id}}">{{username}}</option>
      {% endfor %}
    </select>
 </p>
  <p>
    <label for="id_image_hash">Image:</label>
    <select name="image_hash" required id="id_image_hash">
      {% for pk, image in form.fields.image_hash.choices %}
        <option value="{{pk}}"><img src="{{image.image.url}}" alt="connect" style="max-height:300px"></option>
      {% endfor %}
    </select>
  </p> -->
  <button type="submit">Upload</button>
</form>

{% if accepted %}
  <h3>Succesfully transferred!</h3>
  {% if image %}
    <img src="{{ image.url }}" alt="connect" style="max-height:300px">
  {% endif %}
{% endif %}

{% endblock content %}